In [2]:
import pandas as pd 
import numpy as np

In [6]:
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [10]:
df.shape

(1338, 7)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [21]:
from sklearn.preprocessing import LabelEncoder

# convert str values to int using the scikit-learn encoder

st = df[['sex','smoker','region']].apply(LabelEncoder().fit_transform)

st.head()

   sex  smoker  region
0    0       1       3
1    1       0       2
2    1       0       2
3    1       0       1
4    1       0       1

In [24]:
A = ['sex','smoker','region']
for i in A:
    st[i] = st[i].astype(float)

In [32]:
df1 = pd.concat([df[['age','bmi','children','charges']],st], axis = 1)

In [33]:
df1

      age     bmi  children      charges  sex  smoker  region
0      19  27.900         0  16884.92400  0.0     1.0     3.0
1      18  33.770         1   1725.55230  1.0     0.0     2.0
2      28  33.000         3   4449.46200  1.0     0.0     2.0
3      33  22.705         0  21984.47061  1.0     0.0     1.0
4      32  28.880         0   3866.85520  1.0     0.0     1.0
5      31  25.740         0   3756.62160  0.0     0.0     2.0
6      46  33.440         1   8240.58960  0.0     0.0     2.0
7      37  27.740         3   7281.50560  0.0     0.0     1.0
8      37  29.830         2   6406.41070  1.0     0.0     0.0
9      60  25.840         0  28923.13692  0.0     0.0     1.0
10     25  26.220         0   2721.32080  1.0     0.0     0.0
11     62  26.290         0  27808.72510  0.0     1.0     2.0
12     23  34.400         0   1826.84300  1.0     0.0     3.0
13     56  39.820         0  11090.71780  0.0     0.0     2.0
14     27  42.130         0  39611.75770  1.0     1.0     2.0
15     19  24.600         1   1837.23700  1.0     0.0     3.0
16     52  30.780         1  10797.33620  0.0     0.0     0.0
17     23  23.845         0   2395.17155  1.0     0.0     0.0
18     56  40.300         0  10602.38500  1.0     0.0     3.0
19     30  35.300         0  36837.46700  1.0     1.0     3.0
20     60  36.005         0  13228.84695  0.0     0.0     0.0
21     30  32.400         1   4149.73600  0.0     0.0     3.0
22     18  34.100         0   1137.01100  1.0     0.0     2.0
23     34  31.920         1  37701.87680  0.0     1.0     0.0
24     37  28.025         2   6203.90175  1.0     0.0     1.0
25     59  27.720         3  14001.13380  0.0     0.0     2.0
26     63  23.085         0  14451.83515  0.0     0.0     0.0
27     55  32.775         2  12268.63225  0.0     0.0     1.0
28     23  17.385         1   2775.19215  1.0     0.0     1.0
29     31  36.300         2  38711.00000  1.0     1.0     3.0
...   ...     ...       ...          ...  ...     ...     ...
1308   25  30.200         0  33900.65300  0.0     1.0     3.0
1309   41  32.200         2   6875.96100  1.0     0.0     3.0
1310   42  26.315         1   6940.90985  1.0     0.0     1.0
1311   33  26.695         0   4571.41305  0.0     0.0     1.0
1312   34  42.900         1   4536.25900  1.0     0.0     3.0
1313   19  34.700         2  36397.57600  0.0     1.0     3.0
1314   30  23.655         3  18765.87545  0.0     1.0     1.0
1315   18  28.310         1  11272.33139  1.0     0.0     0.0
1316   19  20.600         0   1731.67700  0.0     0.0     3.0
1317   18  53.130         0   1163.46270  1.0     0.0     2.0
1318   35  39.710         4  19496.71917  1.0     0.0     0.0
1319   39  26.315         2   7201.70085  0.0     0.0     1.0
1320   31  31.065         3   5425.02335  1.0     0.0     1.0
1321   62  26.695         0  28101.33305  1.0     1.0     0.0
1322   62  38.830         0  12981.34570  1.0     0.0     2.0
1323   42  40.370         2  43896.37630  0.0     1.0     2.0
1324   31  25.935         1   4239.89265  1.0     0.0     1.0
1325   61  33.535         0  13143.33665  1.0     0.0     0.0
1326   42  32.870         0   7050.02130  0.0     0.0     0.0
1327   51  30.030         1   9377.90470  1.0     0.0     2.0
1328   23  24.225         2  22395.74424  0.0     0.0     0.0
1329   52  38.600         2  10325.20600  1.0     0.0     3.0
1330   57  25.740         2  12629.16560  0.0     0.0     2.0
1331   23  33.400         0  10795.93733  0.0     0.0     3.0
1332   52  44.700         3  11411.68500  0.0     0.0     3.0
1333   50  30.970         3  10600.54830  1.0     0.0     1.0
1334   18  31.920         0   2205.98080  0.0     0.0     0.0
1335   18  36.850         0   1629.83350  0.0     0.0     2.0
1336   21  25.800         0   2007.94500  0.0     0.0     3.0
1337   61  29.070         0  29141.36030  0.0     1.0     1.0

[1338 rows x 7 columns]

In [34]:
X = df1.iloc[:, :-1].values
y = df1.iloc[:, 1].values

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3)

In [36]:
from sklearn.linear_model import LinearRegression 
regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
y_prediction = regression.predict(X_test)

In [44]:
import statsmodels.api as sm
lm=sm.OLS(y_train, X_train).fit()
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          9.028e+27
Date:                Sun, 08 Dec 2019   Prob (F-statistic):                        0.00
Time:                        15:02:32   Log-Likelihood:                          22148.
No. Observations:                 892   AIC:                                 -4.428e+04
Df Residuals:                     886   BIC:                                 -4.426e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          1.076e-13   9.81e-15     10.972      0.000    8.84e-14    1.27e-13
x2             1.0000   1.28e-14   7.81e+13      0.000       1.000       1.000
x3          9.159e-14    1.1e-13      0.834      0.405   -1.24e-13    3.07e-13
x4         -1.037e-16   2.05e-17     -5.066      0.000   -1.44e-16   -6.35e-17
x5          1.554e-15   2.66e-13      0.006      0.995   -5.21e-13    5.24e-13
x6          4.441e-16   5.89e-13      0.001      0.999   -1.16e-12    1.16e-12
==============================================================================
Omnibus:                       39.728   Durbin-Watson:                   0.366
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               44.361
Skew:                           0.544   Prob(JB):                     2.33e-10
Kurtosis:                       2.891   Cond. No.                     8.12e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.12e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""